<a href="https://colab.research.google.com/github/qpgabriel/AV2_Gest-o_do_Conhecimento/blob/master/Gabriel_Rocha_AV2_Gest%C3%A3o_do_Conhecimento.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

DISCIPLINA: Gestão do Conhecimento	 PROFESSOR(A): Alex Salgado
PERÍODO: 7o. TURNO: noite AVALIAÇÃO:

ALUNO(A): Gabriel Marques de Oliveira Rocha 0050014723

GRAU: VISTO DO PROFESSOR:

# Questão 1 - valor (1,0)

*** Crie um repositório no Github e adicione este arquivo no mesmo


1.1 - Você deve escolher uma base de dados aberta que seja possível treinar um modelo de aprendizagem de máquina Supervisionado de Classificação (assim como o exemplo da Iris e Cancer). A partir desta base de dados, você vai treinar o modelo, fazer previsões e calcular a acurácia do mesmo.
Obs.: Não utilizar nenhuma base de dados usada em aula,  nos trabalhos ou na biblioteca do sklearn.

[database info](https://archive.ics.uci.edu/ml/datasets/Lenses)

1.2 - Após tratada, criar uma pasta no seu GoogleDrive e disponibilizar o link do arquivo de sua base (csv, xlsx, etc) para ser importado no seu código.

[database link](https://archive.ics.uci.edu/ml/machine-learning-databases/lenses/lenses.data)

## Criar um código usando o Jupyter Notebook e responder (através de código) às seguintes questões:

# Questão 2 - valor (1,0)

2.1 - Importar os modulos python para machine learn e carregar o arquivo 

** Sugestão se for do tipo xlsx, usar o read_excel do pandas
import pandas as pd
dt = pd.read_excel("meuarquivo.xlsx")

In [36]:
import pandas as pd
dt = pd.read_table("https://archive.ics.uci.edu/ml/machine-learning-databases/lenses/lenses.data", delim_whitespace=True, header = None)
dt.to_csv('lenses.csv', encoding='utf-8')

Attribute Information:

3 Classes
1 : the patient should be fitted with hard contact lenses;

2 : the patient should be fitted with soft contact lenses;

3 : the patient should not be fitted with contact lenses;

1. age of the patient: (1) young; (2) pre-presbyopic; (3) presbyopic
2. spectacle prescription: (1) myope; (2) hypermetrope
3. astigmatic: (1) no; (2) yes
4. tear production rate: (1) reduced; (2) normal

In [37]:
colunas = ['seq','age','pres','ast','tear','clas']

In [38]:
dt.columns = colunas

In [39]:
dt

    seq  age  pres  ast  tear  clas
0     1    1     1    1     1     3
1     2    1     1    1     2     2
2     3    1     1    2     1     3
3     4    1     1    2     2     1
4     5    1     2    1     1     3
5     6    1     2    1     2     2
6     7    1     2    2     1     3
7     8    1     2    2     2     1
8     9    2     1    1     1     3
9    10    2     1    1     2     2
10   11    2     1    2     1     3
11   12    2     1    2     2     1
12   13    2     2    1     1     3
13   14    2     2    1     2     2
14   15    2     2    2     1     3
15   16    2     2    2     2     3
16   17    3     1    1     1     3
17   18    3     1    1     2     3
18   19    3     1    2     1     3
19   20    3     1    2     2     1
20   21    3     2    1     1     3
21   22    3     2    1     2     2
22   23    3     2    2     1     3
23   24    3     2    2     2     3

In [42]:
feature_names = ['age','pres','ast','tear']

target = dt['clas']

data = dt[feature_names]

In [11]:
data

    age  prescription  astigmatic  tear
0     1             1           1     2
1     1             1           2     1
2     1             1           2     2
3     1             2           1     1
4     1             2           1     2
5     1             2           2     1
6     1             2           2     2
7     2             1           1     1
8     2             1           1     2
9     2             1           2     1
10    2             1           2     2
11    2             2           1     1
12    2             2           1     2
13    2             2           2     1
14    2             2           2     2
15    3             1           1     1
16    3             1           1     2
17    3             1           2     1
18    3             1           2     2
19    3             2           1     1
20    3             2           1     2
21    3             2           2     1
22    3             2           2     2

In [44]:
target

0     3
1     2
2     3
3     1
4     3
5     2
6     3
7     1
8     3
9     2
10    3
11    1
12    3
13    2
14    3
15    3
16    3
17    3
18    3
19    1
20    3
21    2
22    3
23    3
Name: clas, dtype: int64

2.2 - Exibir os primeiros registros desta tabela.

In [45]:
dt.head()

   seq  age  pres  ast  tear  clas
0    1    1     1    1     1     3
1    2    1     1    1     2     2
2    3    1     1    2     1     3
3    4    1     1    2     2     1
4    5    1     2    1     1     3

2.3 - De que se trata esse banco de dados? e que tipo de previsão pode ser feito com ele?

Ele mostra informaçoes sobre a visao como: faixa de idade, miopia, hipermetropia, astigmatismo e nivel de lagrima.

Com isso podemos decidir se a pessoa pode usar lentes rigidas, flexiveis ou até mesmo a impossibilidade de usar elas.

# Questão 3 - valor (0,5)

Utilizando as terminologias de Machine Learning(features e observações):

3.1 - Quantas "features" têm nessa base de dados?

In [46]:
len(feature_names)

4

3.2 - Quantas observações têm nessa base de dados?

In [47]:
# len(dt) 
dt.shape

(24, 6)

# Questão 4 - valor (1,0)

4.1 - Faça uma previsão, usando o algoritmo de LogisticRegression.

In [48]:
X = data
y = target

In [49]:
# import the class
from sklearn.linear_model import LogisticRegression

# instantiate the model (using the default parameters)
logreg = LogisticRegression(max_iter= 10000000)

# fit the model with data
logreg.fit(X, y)

X_new = [[1,1,1,2], [3,2,1,1]]

# predict the response for new observations
logreg.predict(X_new)

array([2, 3])

# Questão 5 - valor (1,5)

Usando o método de avaliação de acurácia (Treinar e testar na base de dados inteira/Train test entire model), Calcular a acurácia de cada um dos 3 métodos abaixo.

4.1 - Acurácia usando o algoritmo de KNN (com 1 vizinho, k=1)

In [55]:
from sklearn.neighbors import KNeighborsClassifier
knn = KNeighborsClassifier(n_neighbors=1)
knn.fit(X, y)
y_pred = knn.predict(X)
print(metrics.accuracy_score(y, y_pred))

1.0

4.2 - Acurácia usando o algoritmo de KNN (com 5 vizinho, k=5)

In [56]:
from sklearn.neighbors import KNeighborsClassifier
knn = KNeighborsClassifier(n_neighbors=5)
knn.fit(X, y)
y_pred = knn.predict(X)
print(metrics.accuracy_score(y, y_pred))

0.8333333333333334

4.3 - Acurácia usando o algoritmo de LogisticRegression

In [52]:
# import the class
from sklearn.linear_model import LogisticRegression

# instantiate the model (using the default parameters)
logreg = LogisticRegression(max_iter= 10000000)

# fit the model with data
logreg.fit(X, y)

# predict the response values for the observations in X
logreg.predict(X)

array([3, 2, 3, 1, 3, 2, 3, 1, 3, 2, 3, 1, 3, 2, 3, 3, 3, 3, 3, 3, 3, 3,
       3, 3])

In [53]:
# store the predicted response values
y_pred = logreg.predict(X)

# check how many predictions were generated
len(y_pred)

24

In [54]:
# compute classification accuracy for the logistic regression model
from sklearn import metrics
print(metrics.accuracy_score(y, y_pred))

0.9166666666666666

4.4 - De acordo com seus resultados anteriores, qual dos 3 métodos é mais eficiente?

Será a Acurácia usando o algoritmo de KNN (com 1 vizinho, k=1)

In [ ]:
*** Envie o link do seu Github com essa resposta no Classroom